.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# dev-sidecar
/.cache
/packages/gui/dist_electron
/packages/gui/dist
/packages/core/src/config/user_config.json
/packages/core/test/ca
/packages/mitmproxy/ca
/packages/mitmproxy/test/ca
/*.log
/run
/release
/*.diff

/.feedback
_script/__pycache__/
_script/xray-invalid-nodes-report*.json

# Other files
out
gen
*.log
*.lnk
.venv
/index.js
/expose.js
/probe.js
/service-entry.js
/util.cgroup.js
/.codebase-memory/
